<div class="container py-5">
    <!-- title -->
    <div class="row g-4">
      <div class="col-md-3">
        <div class="card text-center p-4">
          <div class="icon text-primary">
          
          </div>
          <h5 class="card-title">Totol Balance</h5>
          <h1 class="card-text">
           {{balance}}
          </h1>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center p-4">
          <div class="icon text-danger">
           
          </div>
          <h5 class="card-title">Bank</h5>
          <h1 class="card-text">
            {{bank}}
          </h1>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center p-4">
          <div class="icon text-success">
           
          </div>
          <h5 class="card-title">Mobile Money</h5>
          <h1 class="card-text">
            {{momo}}
          </h1>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center p-4">
          <div class="icon text-success">
          </div>
          <h5 class="card-title">Cash</h5>
          <h1 class="card-text">
            {{cash}}
          </h1>
        </div>
        
      </div>
    </div>

