<carousel>
    <slide>
      <img src="1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>Welcome !</h1>
        <h3>Manage your income in one spot</h3>
      </div>
    </slide>
    <slide>
      <img src="2.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>The time is now</h1>
        <h3>Manage your accounts, income and Expenses</h3>
      </div>
    </slide>
</carousel>
  


    <div class="container py-5">
      <h2 class="text-center mb-4">What to expect:</h2>
      <div class="row g-4">
        <div class="col-md-4">
          <div class="card text-center p-4">
            <h5 class="card-title">Control your Accounts</h5>
            <p class="card-text">
             Here you will add your accounts, Manage them in one spot.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center p-4">
            <h5 class="card-title">Manage All Income</h5>
            <p class="card-text">
            All of your income will be recorded, and managed easily
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center p-4">
            <h5 class="card-title">Manage Expenses</h5>
            <p class="card-text">
              You will manage your expenses, and help you in saving.
            </p>
          </div>
        </div>
      </div>
    </div>
